$bg-color: #3C3D3E;
$title: #323334;
$title-info: #979799;
$search-bar: #EAEBEC;
$user-name: #87B855;
$skill: #D1D2D3;
$location: #9C9D9E;
$url: #878889;
$email-border: #E5E6E7;
$checkbox-circle: #DDDEDF;
$enabled-button: #E6508A;
$disabled-button: #C0C0C0;
